# Executables
ircserv
test_client
test_server
test_channel
test_commands
test_join
test_topic
test_part
test_privmsg

# Object files
obj/
*.o

# OS/editor junk
.DS_Store
*.swp
*~

# IDE
.vscode/
.idea/